<h2 class="title-h2"><%= @the_statement.title %></h2>
<div class="image">
  <img src="/assets/realmadrid.jpg">
</div>
<br>
<div class="content-statement">
	<p class="js-brief-description"><strong>Brief description</strong></p>
	<div class="js-brief-description-content panel panel-default">
      <div class="panel-body">
        <%= @the_statement.description %>
      </div>
    </div>
  </p>
	<div type="button" class="btn btn-lg btn-default js-agree" id="<%=@the_statement.id%>"><span class="glyphicon glyphicon-thumbs-up"></span> Agree </div>
	<div type="button" class="btn btn-lg btn-default js-disagree" id="<%=@the_statement.id%>"><span class="glyphicon glyphicon-thumbs-down"></span> Disagree </div>
	<p class="js-results"></p>

    <form class="js-submit">
      <div>
        <label for="comment">Comment</label>
        <input type="text" id="comment" placeholder="place your comment here">
      </div>
      <div> 
        <button type="submit">Add</button>
      </div>
    </form>

    <ul class="js-all-comments"></ul>
</div>
