<h1>Statement</h1>
	<h3><%= @the_statement.title %></h3>
	<img src="/assets/realmadrid.jpg">
	<p class="js-brief-description">Brief description</p>
	<p class="js-brief-description-content"><%= @the_statement.description %></p>
	<p><%= @the_statement.author %></p>
	<p> <%= @the_statement.date %></p>
	<div type="button" class="btn btn-primary js-agree">Agree</div>
	<div type="button" data-id="" class="btn btn-primary js-disagree">Disagree</div>
	<p class="js-results">Something</p>
	<div class="js-comment-section">Comment section</div>
</div>
