<h1>Statement</h1>
	<h3><%= @the_statement.title %></h3>
	<img src="/assets/realmadrid.jpg">
	<p><%= @the_statement.author %></p>
	<p> <%= @the_statement.date %></p>
	<p><%= @the_statement.description %></p>
</div>
