
<main role="main">
      <h1 class="hero-heading">EVERY TEAM<br>NEEDS A 12TH MAN</h1>
</main>
<section class="video">
    <%= video_tag "video.mp4", autoplay: true, loop: true, class: "video", muted: true %>
</section>
<div class="video-overlay"></div>
