<div class="hero">
    <h1 class="hero-heading">Every soccer team<br>needs a twelfth<br>player</h1>
    <h2 class="hero-heading-h2">Every player dreams on scoring a <strong>hattrick</strong> for their team</h2>
    <section class="video">
        <%= video_tag "myHattrick.mp4", autoplay: "true", loop: "true", muted: "true" %>
    </section>
    <div class="video-overlay"></div>
    <!-- <div class="button-signup">
        <div class="button"><a href="/users/sign_up"> SIGN ME UP... I GOT THIS!</a></div>
    </div> -->
</div>

<div class="container-below-hero">
    <h2 class="below-hero-heading">Score a <strong>hattrick</strong> and begin the journey to becoming a legendary fan</h2>
</div>
<section class="container-goals">
        <div class="col-xs-12 col-sm-12">
            <h2 class="question">WHAT'S A HATTRICK?</h2>
        </div>
    <div class="row row-goals">
        <div class="left-element col-xs-12 col-sm-4">
          <img class="responsive-image outcome-focused", src="/assets/left-foot.png">
          <h2 class="goal-text"><a href="/leftfoot"> Left foot</a></h2>
          <div class="goal-explanation">Keep up with your favorite team's latest news from different sources around the world.</div>
        </div>
        <div class=" right-element col-xs-12 col-sm-4">
          <img class="responsive-image outcome-focused", src="/assets/right-foot.png">
          <h2 class="goal-text"><a href="/rightfoot"> Right foot</a></h2>
          <div class="goal-explanation">Take a side on what's happening today with your favorite team and see who's with you.</div>
        </div>
        <div class="head-element col-xs-12 col-sm-4">
          <img class="responsive-image outcome-focused", src="/assets/head-head.png">
          <h2 class="goal-text"><a href="#"> Head</a></h2>
          <div class="goal-explanation">Create and join events to meet other passionate fans around your area.</div>
        </div>
    </div>
    
</section>




