<div style="padding-top: 30px; padding-left: 100px;">
<%= form_tag(:action => "create") do %>
	<p>Article URL:</p>
	<%= text_field_tag("url") %></p>

	<%= submit_tag("Save Data") %>

<% end %>
</div>
